.container {
    background-color: #282c34;
    color: #282c34;
    padding-top: 40px;
    margin: 10px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-size: calc(10px + 2vmin);
}



.product-seconds {
    font-size: 12px;
}